.style-layout-body {
  margin: 80px;
  padding: 0px;
}

.style-layout-text-image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;


}
.style-layout-text{
    display: flex;
    margin: 0px;
    padding: 0px;
}

.style-layout-card-variable {
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.align-text-card{
text-align: center;
}